body {
    background-color:hsl(212, 45%, 89%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.box {
    width: 290px;
    height: 440px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
.content {
    margin-top: 15px;
    margin-left: 15px;
}
.qr-img {
    width: 260px;
    height: 260px;
    border-radius: 8px;
}
.text {
    width: 230px;
    font-size: 15px;
    text-align: center;
    margin-left: 12px;
}
h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

@media only screen and  (max-width:600px){
.box {
margin-top: 40px;
}
}
@media only screen and  (max-width:375px){
    .box{
margin-top: 40px;
}
}